<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head',{}); %>
        <%- include('nav',{}); %>
            <title>Document</title>
</head>

<body>
    <div class="layui-card" style="height: 250px; width: 800px;margin-left: 100px;">
        <div class="layui-card-header">
          <h1>详情页</h1>
        </div>
        <div class="layui-card-body">
          <h2><b>最新资讯按时到场</b></h2><br>
          <h6  style="color: darkgrey;">作者：瓦力巴西   发布时间：2021-1-23 10:53:12</h6><br>
          <h4>那英居然唱了梁博的《出现又离开》，唱作人时梁博最火的一首歌了，编曲改得
              带有那英九十年代与袁惟仁合作的吉他伴奏的经典抒情风格，有《梦一场》的
              味儿了，寥寥数句，颇具余味……  L沙雕少女居古力的微博视频 ​​​​
        </h4>
        </div>
      </div>
</body>
</html>