<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/libs/layui/css/layui.css' /> -->
    <%- include('head',{}); %>
    <%- include('nav',{}); %>
    <title>Document</title>
    
</head>
<body>
    <div class="layui-container">  
        <div class="layui-row">
          <form action="layui-form" >
              <div class="layui-form-item">
                  <label class="layui-form-label">用户名</label>
                  <div class="layui-input-block">
                      <input type="text" name="userName" required placeholder="请输入用户名" class="layui-input" style="width: 300px;">
                  </div>
              </div>
              <div class="layui-form-item">
                  <label class="layui-form-label">密码</label>
                  <div class="layui-input-block">
                      <input type="password" name="password" required placeholder="请输入密码" class="layui-input" style="width: 300px; ">
                  </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal">登录</button>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-p">
                    <p>没有账号，<a href="./zhuce">立即注册</a>！</p>
                </div>
            </div>
          </form>
        </div>
</body>
<style>
    .layui-p a{
        text-align: left;
        color: #00B7FF;
    }
    button{
        margin-left: 70px;
    }
    p{
        margin-left: 160px;
    }
</style>
</html>