<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('head',{}); %>
    <title>Document</title>
</head>
<body>
    <div class="layui-form-item">
        <div class="layui-input-wirte">
            <ul class="layui-nav layui-bg-blue">
                <i class="layui-icon layui-icon-home" style="font-size: 25px;"></i>
                <li class="layui-nav-item "><a href="/">首页</a></li>
                <li class="layui-nav-item"><a href="/xie">写文章</a></li>
                <li class="layui-nav-item"><a href="/details">详情页</a></li>
                <li class="layui-nav-item">
                    <% if(userName) { %>
                        <p style="color: #fff; line-height: 50px; font-size: 22px;">
                            <%= userName %>
                        </p>
                        <% }else {%>
                    <a href="/login">登录</a>
                    <%}%>
                </li>
              </ul>
              
        </div>
    </div>
</body>
</html>