<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head',{}); %>
    <%- include('nav',{}); %>
      <title>Document</title>
</head>

<body>
  <div class="layui-form-item" style="width: 1000px;margin-left: 100px;">
    <div class="layui-input-wirte">
      <input type="text" name="title" required lay-verify="required" placeholder="请输入文章标题" autocomplete="off"
        class="layui-input">
    </div>
  </div>

  <div class="layui-form-item" style="width: 1000px;margin-left: 100px;">
    <div class="layui-input-textarea">
      <textarea name="" required lay-verify="required" placeholder="请输入内容" class="layui-textarea"></textarea>
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn layui-btn-normal" style="margin-left: 400px;">发布</button>
    </div>
  </div>
</body>

</html>